
<div ng-controller="mntStatusController">


    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 col1" style="padding-right:2px;padding-left:2px; ">
        <div class="filter-container box  ">
            <div class="filter-container box  ">
                <div dx-tabs="tabs_options"></div>
                <div id="rba" class="tabc" style="padding: 7px">
                    <table style="width: 100%; border: 1px solid #ccc">
                        <tr>
                            <td class="col-lg-1 col-md-1" style="padding:2px 0 0 5px !important; text-align: center">TFH</td>
                            <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px" dx-number-box="num_tfh"></div></td>

                            <td class="col-lg-1 col-md-1" style="padding: 2px 0 0 5px !important; text-align: center">TFC</td>
                            <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px" dx-number-box="num_tfc"></div></td>

                            <td class="col-lg-1 col-md-1" style="padding: 2px 0 0 5px !important; text-align: center">Date UpDate</td>
                            <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px; width: 100%" dx-date-box="dt_update"></div></td>
                        </tr>
                    </table>

                    <div dx-tabs="statusTabs_options" style="border: 1px solid #ccc; margin-top:5px"></div>
                    <div id="llp" class="tabst">
                        <table style="width: 100%; border: 1px solid #ccc; margin-top:5px">
                            <tr>
                                <td class="col-lg-1 col-md-1" style="padding:2px 0 0 5px !important; text-align: center">Landing Gear (Day)</td>
                                <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px" dx-number-box="num_ldg"></div></td>

                                <td class="col-lg-1 col-md-1" style="padding: 2px 0 0 5px !important; text-align: center">Date Update</td>
                                <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px; width: 100%" dx-date-box="dt_ldg"></div></td>
                            </tr>
                        </table>

                        <table style="width: 100%; border: 1px solid #ccc; margin-top: 5px">
                            <tr>
                                <td class="col-lg-1 col-md-1" style="padding:2px 0 0 5px !important; text-align: center">APU (hour)</td>
                                <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px" dx-number-box="num_apu"></div></td>

                                <td class="col-lg-1 col-md-1" style="padding: 2px 0 0 5px !important; text-align: center">Date Update</td>
                                <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px; width: 100%" dx-date-box="dt_apu"></div></td>
                            </tr>
                        </table>

                        <table style="width: 100%; border: 1px solid #ccc; margin-top: 5px">
                            <tr>
                                <td  style="padding:2px 0 0 5px !important; text-align: left">First Other HT Component</td>
                                <td  style="padding: 5px"><div style="border: 1px solid #ccc" dx-text-box="txt_firstHT"></div></td>
                                <td  style="padding:2px 0 0 5px !important; text-align: left">Days</td>
                            </tr>
                            <tr>
                                <td style="width:100px"></td>
                                <td  style="padding: 2px 0 0 5px !important; text-align: center">Date Update</td>
                                <td  style="padding: 5px"><div style="border: 1px solid #ccc; height: 40px; width: 100%" dx-date-box="dt_firstHT"></div></td>
                            </tr>

                            <tr>
                                <td  style="padding: 2px 0 0 5px !important; text-align: left; width: 100px">Second Other HT Component</td>
                                <td  style="padding: 5px"><div style="border: 1px solid #ccc; height: 40px" dx-text-box="txt_secondHT"></div></td>
                                <td  style="padding: 2px 0 0 5px !important; text-align: left">Days</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td  style="padding: 2px 0 0 5px !important; text-align: center">Date Update</td>
                                <td  style="padding:5px"><div style="border: 1px solid #ccc; height: 40px; width: 100%" dx-date-box="dt_firstHT"></div></td>
                            </tr>

                            <tr>
                                <td  style="padding: 2px 0 0 5px !important; text-align: left">Third Other HT Component</td>
                                <td  style="padding:5px"><div style="border: 1px solid #ccc; height: 40px" dx-text-box="txt_thirdHT"></div></td>
                                <td  style="padding: 2px 0 0 5px !important; text-align: left">Days</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td  style="padding: 2px 0 0 5px !important; text-align: center">Date Update</td>
                                <td  style="padding:5px"><div style="border: 1px solid #ccc; height: 40px; width: 100%" dx-date-box="dt_thirdHT"></div></td>
                            </tr>
                        </table>

                        <table style="width: 100%; border: 1px solid #ccc">
                            <tr>
                                <td class="col-lg-1 col-md-1" style="padding:2px 0 0 5px !important; text-align: center">Number Of Defects</td>
                                <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px" dx-number-box="num_defects"></div></td>

                                <td class="col-lg-1 col-md-1" style="padding: 2px 0 0 5px !important; text-align: center">First Due(Day)</td>
                                <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px" dx-number-box="num_firstDue"></div></td>

                                <td class="col-lg-1 col-md-1" style="padding: 2px 0 0 5px !important; text-align: center">Date UpDate</td>
                                <td class="col-lg-3 col-md-3" style="padding:5px"><div style="border: 1px solid #ccc; height: 40px; width: 100%" dx-date-box="dt_defectsUpdate"></div></td>
                            </tr>
                        </table>

                        <table style="width: 100%; border: 1px solid #ccc">
                            <tr>
                                <td style="padding: 2px 0 0 5px !important; text-align: center; width: 100px ">Engine 1</td>
                                <td style="padding:5px; width:50px"><div style="border: 1px solid #ccc; height: 40px; display: inline-block; width:100px" dx-number-box="num_defects"></div></td>
                                <td style="padding: 2px 0 0 5px !important; text-align: left">cycle</td>

                            </tr>
                            <tr>
                                <td style="padding: 2px 0 0 5px !important; text-align: center; width: 100px">Engine 2</td>
                                <td style="padding:5px; width:50px"><div style="border: 1px solid #ccc; height: 40px; display: inline-block; width:100px" dx-number-box="num_defects"></div></td>
                                <td style="padding: 2px 0 0 5px !important; text-align: left">cycle</td>

                            </tr>
                        </table>

                    </div>

                    <div id="coming" class="tabst" style="padding: 7px">

                    </div>

                    <div id="ad" class="tabst" style="padding: 7px">

                    </div>


                </div>

                <div id="rbb" class="tabc">
                    
                </div>

                <div id="rbc" class="tabc">
             
                </div>



            </div>


        </div>


    </div>
    <div dx-load-panel="loadPanel"></div>

</div>
<div style='clear:both'></div>
